{% block footer %}
<!-- footer -->
<div class="footer">
    <p class="vertical-center" style="float:left"><img src="{{ url_for('static', filename='images/copyright.png') }}" style="width:30x; height:30px;"> All rights definitely not reserved</p>
    <a style="float:right; padding: 5px;" class="no_underline" href="https://github.com/minerva-schools/cs162-content-suggestion" target="_blank"><img src="{{ url_for('static', filename='images/footer.png') }}" style="width:30x; height:30px;"></a>
    <a style="float:right; padding: 5px;" class="no_underline" href="mailto:contentsuggestion@gmail.com" target="_blank"><img src="{{ url_for('static', filename='images/footer_2.png') }}" style="width:30px; height:30px"></a>
</div>
{% endblock %}