{% include '_header.html' %}
{% from "_formhelpers.html" import render_field %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">

<body style="background-image: url({{url_for('static', filename='images/background.png')}})">
  <div id="form">
    <h2 class="header">CREATE NEW PASSWORD</h2>
    <div>
      <form style="text-align: center" method=post>
          {{ form.hidden_tag() }}
          {{ render_field(form.new_password, placeholder="Password") }}
          {{ render_field(form.new_password2, placeholder="Confirm Password") }}
          {% include "_messages.html" %}
        <p><input type=submit class="btn" value="Change Password">
      </form>
    </div>
  </div>
</body>
