<head>
  <title>SuggestMe | Sign Up</title>
</head>

{% extends "_header.html" %} {% block content %}

<!--Using WTForm to show the forms for registration-->
<body style="background-image: url({{url_for('static', filename='images/background.png')}})">
  <div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <h2 style='text-align:center; margin-bottom:40px;'><strong>REGISTRATION</strong></h2>
        <div class="form-group">
          {% if form.username.errors %}
          {{form.username(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
          {{form.username(class="form-control form-control-lg", placeholder="Username")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.email.errors %}
          {{form.email(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
          {{form.email(class="form-control form-control-lg", placeholder="Email address")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.password.errors %}
          {{form.password(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
          {{form.password(class="form-control form-control-lg", placeholder="Password")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.password_confirm.errors %}
          {{form.password_confirm(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.password_confirm.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
          {{form.password_confirm(class="form-control form-control-lg", placeholder="Confirm password")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.instagram_username.errors %}
            {{form.instagram_username(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.instagram_username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>

          {% else %}
          {{form.instagram_username(class="form-control form-control-lg", placeholder="Instagram Username")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.instagram_password.errors %}
            {{form.instagram_password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.instagram_password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>

          {% else %}
          {{form.instagram_password(class="form-control form-control-lg", placeholder="Instagram Password")}}
          {% endif %}
        </div>
      </fieldset>

      <p> Already registered?<a class="ml-2" href="{{url_for('auth.login')}}">Log In</a></p>
      <div class="input['submit']">
        {{form.submit(class="btn")}}
      </div>  
    </form>
  </div>
</body>
{% endblock content %}
